@using DevSkill.Inventory.Application.Features.Products.Queries
@using DevSkill.Inventory.Domain.Enums
@model ProductsByQuery
@{
    ViewData["Title"] = "Products";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Available Products</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div id="ProductModalContainer"></div>
<div class="app-content">
    <div class="container-fluid">
        <partial name="_ResponsePartial" />
        <!--begin::Row-->
        <!-- Search Product Card -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-search mr-1"></i>Search Product</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="text" asp-for="SearchItem.Id" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" asp-for="SearchItem.Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Category</label>
                                <input type="text" asp-for="SearchItem.Category" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Minimum Purchase Price</label>
                                <input type="number" step="0.01" asp-for="SearchItem.MinPurchasePrice" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Maximum Purchase Price</label>
                                <input type="number" step="0.01" asp-for="SearchItem.MaxPurchasePrice" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Minimum MRP Price</label>
                                <input type="number" step="0.01" asp-for="SearchItem.MinMRP" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Maximum MRP Price</label>
                                <input type="number" step="0.01" asp-for="SearchItem.MaxMRP" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Minimum Wholesale Price</label>
                                <input type="number" step="0.01" asp-for="SearchItem.MinWholesalePrice" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Maximum Wholesale Price</label>
                                <input type="number" step="0.01" asp-for="SearchItem.MaxWholesalePrice" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="ProductSearchButton" type="submit" class="btn btn-primary float-right">Search</button>
                </div>
            </div>
        </div>

        <!-- Space between cards -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title">Available Products</h3>
                        <button type="button" class="btn btn-primary ms-auto" onclick="Add()">
                            <i class="bi bi-plus-lg"></i>
                            New Product
                        </button>
                    </div>
                    <div class="card-body">
                        <partial name="_ModalPartial" />
                        <table id="products" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#SN</th>
                                    <th>Image</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Purchase</th>
                                    <th>MRP</th>
                                    <th>Wholesale</th>
                                    <th>Stock</th>
                                    <th>Low Stock</th>
                                    <th>Damage Stock</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>#SN</th>
                                    <th>Image</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Purchase</th>
                                    <th>MRP</th>
                                    <th>Wholesale</th>
                                    <th>Stock</th>
                                    <th>Low Stock</th>
                                    <th>Damage Stock</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Row-->
    </div>
</div>
<!--end::App Content-->
@section Scripts
{
    <script>
        function Add() {
            $.get("/Admin/Products/Create", function (response) {
                $("#ProductModalContainer").html(response);
                $('#ProductActionButton').text('Create');
                $('#staticBackdropLabel').text('Create New Product');
                $('#ProductModalForm').attr('action', '/Admin/Products/Create')
                $("#staticBackdrop").modal("show");
            });
            }
    </script>

    <partial name="_DataTablesHelperPartial" />
    <script>
        $(function () {
            $("#products").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                lengthChange: true,
                autoWidth: false,
                searching: false,
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All']
                ],

                // there is various Option present such as
                // buttonStart,buttonEnd,topStart,topEnd,
                // top2Start,top2Start so on.
                layout: {
                    top: {
                        // buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                        // for customizing column
                        buttons:[
                            { extend: 'copy',  exportOptions: { columns: [0,1,2] } },
                            { extend: 'csv',   exportOptions: { columns: [0,1,2] } },
                            { extend: 'excel', exportOptions: { columns: [0,1,2] } },
                            { extend: 'pdf',   exportOptions: { columns: [0,1,2] } },
                            { extend: 'print', exportOptions: { columns: [0,1,2] } }
                        ]
                    },
                    topEnd:'search'
                },
                ajax: {
                    url: "/Admin/Products/GetProductJsonData",
                    type: "POST",
                     contentType: "application/json", //must be added
                     dataType: "json", //better to add, not mandatory
                     data: function (d) {
                         d.SearchItem = {
                            Id: $("#SearchItem_Id").val(),
                            Name: $("#SearchItem_Name").val(),
                            Category: $("#SearchItem_Category").val(),
                            MinPurchasePrice: $("#SearchItem_MinPurchasePrice").val() === ""? null : $("#SearchItem_MinPurchasePrice").val(),
                            MaxPurchasePrice: $("#SearchItem_MaxPurchasePrice").val() === "" ? null : $("#SearchItem_MaxPurchasePrice").val(),
                            MinMRP: $("#SearchItem_MinMRP").val() === "" ? null : $("#SearchItem_MinMRP").val(),
                            MaxMRP: $("#SearchItem_MaxMRP").val() === "" ? null : $("#SearchItem_MaxMRP").val(),
                            MinWholesalePrice: $("#SearchItem_MinWholesalePrice").val() === "" ? null : $("#SearchItem_MinWholesalePrice").val(),
                            MaxWholesalePrice: $("#SearchItem_MaxWholesalePrice").val() === "" ? null : $("#SearchItem_MaxWholesalePrice").val()
                         };
                         return JSON.stringify(d);
                     },
                },
                order: [[2, 'asc']],
                columnDefs: [
                    {
                        orderable: false,
                        targets: [0,1,11],
                    },
                    {
                        targets: 11,
                        render: function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/products/update/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </button>`;
                        }
                    }
                ],
            });

            $('#products').on('click','.show-bs-modal',function()
            {
                let id = $(this).data('id');
                let DeleteModal = $('#delete-modal');
                DeleteModal.find('.modal-body p').html('Are you sure you want to delete this Product?');
                $('#delete-id').val(id);
                $('#delete-form').attr('action', '/Admin/Products/Delete');
                DeleteModal.modal('show');
            });

            $('#delete-btn').on('click', function () {
                $('#delete-form').submit();
            });

            $('#ProductSearchButton').on('click', function () {
                $("#products").DataTable().ajax.reload(null,false);
            });
        });
    </script>
}
